<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/base::layout(~{::title},~{::style},~{::#contenido}, ~{::script})">

<head>
<meta charset="UTF-8">
<title th:text="#{list.menu.workday}"></title>
<style>

</style>
</head>
<body>
	<th:block id="contenido">
		<div class="container">
			<img th:src="@{/img/jornada-laboral2.jpg}" class="rounded"
				alt="Responsive image">
		</div>
	</th:block>
	
			<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>
	
</body>
</html>