<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base::layout(~{::title},~{::style},~{::#contenido}, ~{::script})"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <title th:text="#{create.menu.registry.title}"></title>
    <style>
        body {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block id="contenido">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <form method="post" action="#" th:object="${registry}"
                      th:action="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? @{/create/registry/new/adminSubmit} : @{/create/registry/new/submit}">
                    <h1>
							<span
                                    th:text="${registry.id} ? #{label.editRegistry} : #{label.newRegistry}"></span>

                    </h1>
                    <input type="hidden" th:field="*{id}" id="id"/>
                    <div sec:authorize="hasRole('ADMIN')" class="form-group"
                         th:classappend="${#fields.hasErrors('employee')} ? 'has-error'">
                        <label class="control-label" for="employee"
                               th:text="#{label.employees}">Empleados</label> <select
                            th:field="*{employee}" class="form-control">
                        <option value="-1">---</option>
                        <option th:each="employee : ${employees}"
                                th:value="${employee.id}" th:text="${employee.name}">Empleado
                        </option>
                    </select> <span th:if="${#fields.hasErrors('employee')}"
                                    th:errors="*{employee}" class="help-block" id="employee-error">Errores</span>
                    </div>
                    <div class="form-group " th:classappend="${#fields.hasErrors('dateRegistry')} ? 'has-error'">
                        <label for="example-date-input" class="col-2 col-form-label">Date</label>
                        <div class="col-10">
                            <input class="form-control"
                                   type="date"
                                   value="2011-08-19"
                                   id="dateRegistry"
                                   th:field="*{dateRegistry}">
                        </div>
                        <span th:if="${#fields.hasErrors('dateRegistry')}"
                              th:errors="*{dateRegistry}" class="help-block" id="user-error">Errores</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('hours')} ? 'has-error'">
                        <label class="control-label" for="hours"
                               th:text="#{label.numberHour}">Horas</label>
                        <input type="number"
                               min="0" max="24"
                               class="form-control"
                               id="hours"
                               th:placeholder="#{label.hours}"
                               required="required"
                               th:field="*{hours}">
                        <span th:if="${#fields.hasErrors('hours')}"
                              th:errors="*{hours}" class="help-block" id="hours-error">Errores</span>
                    </div>

                    <button type="submit" class="btn btn-default"
                            th:text="#{label.send}">Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</th:block>
<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>