<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
<meta charset="UTF-8">
<title th:text="#{create.workday.title}"></title>
</head>
<body>
	<div layout:fragment="contenido">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
					<form method="post" action="#" th:object="${work}"
						th:action="@{/admin/categoria/nueva/submit}">
						<h1>
							<span th:text="${work.id} ? 'Editar' : 'Nueva jornada'"></span>

						</h1>
						<input type="hidden" th:field="*{id}" id="id" />
						<div class="form-group">
							<label class="control-label" for="name">Nombre</label> <input
								type="text" class="form-control" id="name" placeholder="Nombre"
								required="required" th:field="*{name}">
						</div>
							<div class="form-group">
							<label class="control-label" for="numberHour">Numero de horas</label> <input
								type="number" class="form-control" id="numberHour" min="1" max="20" placeholder="Numero de horas"
								required="required" th:field="*{numberHour}">
						</div>

						<button type="submit" class="btn btn-default">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>