<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/base::layout(~{::title},~{::style},~{::#contenido}, ~{::script})">


<head>
<meta charset="UTF-8">
<title th:text="#{list.menu.workday}"></title>
<style>
body {
	margin-top: 20px;
}
</style>
</head>
<body>
	<th:block id="contenido">
		<div class="container">

			<div class="row" th:if="${#lists.isEmpty(registrys)}">
				<div class="col-md-offset-1 col-md-10">
					<div class="jumbotron">
						<div class="container">
							<h2 class="text-center" th:text="#{label.listEmptyRegistry}">Aún no tiene registro</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row" th:unless="${#lists.isEmpty(registrys)}">
				<div class="col-md-offset-1 col-md-10">
					<div class="pull-right">
						<a th:href="@{/create/registry/new}" class="btn btn-primary"
							th:text="#{label.newRegistry}">Nuevo registro</a>

					</div>
					<table class="table">
						<thead>
							<tr>
								<th th:text="#{label.nameEmployee}">Nombre empleado</th>
								<th th:text="#{label.nameWorkday}">Nombre de la jornada</th>
								<th th:text="#{label.hoursWorked}">Horas trabajadas</th>
								<th th:text="#{label.date}">Dia trabajado</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="registry : ${registrys}">
								<td th:text="${registry.employee.name}"></td>
								<td th:text="${registry.employee.workday.name}"></td>
								<td th:text="${registry.hours}"></td>
								<td
									th:text="${#dates.format(registry.dateRegistry, 'dd/MMM/yyyy')}" ></td>
								<td class="operaciones"><a class="btn btn-primary" th:text="#{label.edit}" 		th:href="@{/create/registry/edit/{id}(id=${registry.id})}">Editar</a>
									<a type="button" class="btn btn-danger" th:text="#{label.delete}" th:href="@{/create/registry/delete/{id}(id=${registry.id})}">Borrar</a></td>
							</tr>
						</tbody>
					</table>


				</div>
			</div>
		</div>
	</th:block>
	<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>