<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base::layout(~{::title},~{::style},~{::#contenido}, ~{::script})">


<head>
    <meta charset="UTF-8">
    <title th:text="#{list.menu.workday}"></title>
    <style>
        body {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<th:block id="contenido">
	<div id="paraelmodal"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="pull-right">
                    <a th:href="@{/create/employee/new}" class="btn btn-primary"
                       th:text="#{label.newEmployee}">Nuevo empleado</a>

                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th th:text="#{label.nameEmployee}">Nombre empleado</th>
                        <th th:text="#{label.nameWorkday}">Nombre de la jornada</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.workday.name}"></td>
                        <td class="operaciones">
                            <a
                                    th:href="@{/create/employee/edit/{id}(id=${employee.id})}"
                                    class="btn btn-primary" th:text="#{label.edit}">Editar
                            </a>
							<button type="button" class="btn btn-danger"
									th:onclick="|javascript:open_delete(${employee.id}, 'E')|">Borrar</button>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</th:block>
<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>